---

Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  misc-*,
  google-*,
  llvm-*,
  cert-*,
  -modernize-use-nullptr,
  -modernize-use-trailing-return-type,
  -modernize-use-using,
  -modernize-use-default-member-init,
  -modernize-use-auto,
  -misc-include-cleaner,
  -misc-const-correctness,
  -google-readability-todo,
  -llvm-header-guard

FormatStyle: file
